<footer>
  <hr/>
  <nav id="navFooter">
    <ul>
	  <li>Jürg Köppel<br/>Säntisstrasse 34<br/>8304 Wallisellen<br/>076 543 21 74</li>
	  <li>Jürg Klein<br/>Zürichstrasse 7<br/>8606 Nänikon<br>079 365 22 02</li>
	</ul>
  </nav>
</footer>